*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/markdown-navigator/
/.idea/copyright/

\.idea/markdown-navigator\.xml
